<div class="demo-drawer mdl-layout__drawer mdl-color--indigo-900">
  <header class="demo-drawer-header mdl-color--white-500">
    <a href="" target="_blank">
      <img class="doc-logo" src="images/logo1.png">
    </a>
  </header>
  <nav class="demo-navigation mdl-navigation ">
    <a class="mdl-navigation__link" href="#overview"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                        role="presentation">home</i>Home</a>
    <a class="mdl-navigation__link" href="#getting-started"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                               role="presentation">forward</i>Manage Students</a>
    <a class="mdl-navigation__link" href="#navigation"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                          role="presentation">view_list</i>Manage Courses</a>
    <a class="mdl-navigation__link" href="#theming"><i class="mdl-color-text--blue-grey-400 material-icons"
                                                       role="presentation">format_color_fill</i>Manage Instructors</a>

  </nav>
</div>
