<div class="col-md-12">
  <h5> List Of Course</h5><br>

<table class="table table-bordered">
  <thead>
  <tr>
    <th> <input id='checkall' type='checkbox'>  </th>
    <th class="hidden">Id</th>
    <th>Title</th>
    <th>Credits</th>
    <th>Description</th>
    <th>Instructor</th>
    <th colspan="3">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses">
    <td> <input id='check' type='checkbox'></td>
    <td class="hidden">{{course.id}}</td>
    <td>{{course.title}}</td>
    <td>{{course.numberOfCredits}}</td>
    <td>{{course.description}}</td>
    <td><a routerLink="#">{{course.instructor.title}}.
      {{course.instructor.firstName}} {{course.instructor.lastName}}</a></td>
    <td><button class="btn btn-sm btn-info">
      <i class="fa fa-edit"></i></button></td>
    <td><button class="btn btn-sm btn-danger" >
      <i class="fa fa-trash"></i></button></td>
  </tr>
  </tbody>
</table>
</div>
