.tb-head{
  font-size: 18px;
  font-weight: bold;
  font-family: ".VnCentury Schoolbook", serif;
}

.reg-details{
  font-size: 24px;
  font-weight: lighter;
  font-family: ".VnCentury Schoolbook", serif;
  color: #007bff;
}
.course-reg-details{
  font-size: 24px;
  font-weight: lighter;
  font-family: ".VnCentury Schoolbook", serif;
}
