<div class="container"><br>
 <h3>Student Registration Form</h3>
  <form (ngSubmit)="createStudent()">
    <div class="col-md-10">

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="firstName">First Name</label>
      <div class="col-sm-10">
        <input  [(ngModel)]="student.firstName"  class="form-control"
                id="firstName"  name="firstName" type="text">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
      <div class="col-sm-10">
        <input [(ngModel)]="student.lastName" class="form-control" id="lastName"
               name="lastName" type="text">
      </div>
    </div>
    <fieldset class="form-group">

      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
        <div class="col-sm-4">
          <div class="form-check">
            <label>
            <input [(ngModel)]="student.gender"  name="gender"  type="radio" value="female">
              Female
            </label>
          </div>
        </div>

          <div class="col-sm-4">
          <div class="custom-radio">
            <label>
            <input  [(ngModel)]="student.gender"  name="gender" type="radio" value="male">
              Male
            </label>
          </div>
          </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="email">Email</label>
      <div class="col-sm-10">
        <input  [(ngModel)]="student.email" class="form-control" id="email" name="email" type="email">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </div>
    </div>
  </form>
</div>










