@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "app/app.component.css";
@import "app/app-styles.css";


.cursor-pointer{
  cursor: pointer;
  color: #007bff;
}
.center{
  text-align: center;
}
